*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(Amazon\ -logo.png);
    background-size: cover;
    height: 70px;
    width: 100px;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/** Box2 **/
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 25px;
}

.add-second {
    font-size: 1rem;
    margin-left: 4px;

}

.add-icon {
    display: flex;
    align-items: center;
    margin-left: 9px;
}

/** box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    margin-left: 6px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;

}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgb(254, 159, 5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

/** box4 **/
span{
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/** box6 **/
.nav-cart i {
    font-size: 28px;

}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}
/** panel **/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.panel-ops p {
    display: inline;
    margin: 15px;

}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}


/** hero-section **/
.hero-section {
    background-image: url(offer.jpg);
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 85%;
    margin-bottom: 25px;
    
}

.hero-msg a {
    color: #007185;
}


/** shop section **/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box {
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 275px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 10px;

}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    margin-left: 230px;
    margin-top: 10px;
    color: #007185;
}
.box-content h3{
    margin-top: 4px;
}
.box-content h4{
    color: red;
    font-size: 20px;
    margin-left: 70px;
    margin-top: -24px;
}


 /** hero Man **/

 .hero-man {
    background-image: url(hero_man_image.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 73%;
 }
 

 /** hero Girl **/

 .hero-girl {
    background-image: url(hero_girl.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 73%;
 }
 